<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="favicon.ico" />
        {% if artist is defined and title is defined %}
            <meta property="og:title" content="{{ artist }} - {{ title }} - All4M"/>
            <meta property="og:image" content="http://img.youtube.com/vi/{{ youtubeId }}/mqdefault.jpg"/>
        {% else %}
            <meta property="og:title" content="Non stop music videos - All4M"/>
            <meta property="og:image" content="http://www.all4m.tv/img/facebooklogo-large.png"/>
        {% endif %}
        <meta property="og:url" content="http://www.all4m.tv" />
        <meta property="og:description" content="Bored of other 'music' stations only broadcasting real life soaps? Check out All4M for your daily fix of video clips." />
    </head>
    <body>
    {% block topbar %} {% endblock %}
    {% block body %} {% endblock %}
    {% block javascripts %}
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-28752336-1']);
            _gaq.push(['_setDomainName', 'all4m.tv']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    {% endblock %}
    </body>
</html>
