<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}Non stop music videos - All4M</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="favicon.ico" />
    </head>
    <body>
    {% block topbar %} {% endblock %}
    {% block body %} {% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
