{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="/css/screen.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
{% endblock %}

{% block body %}
<div id="container" class="container">
	<div id="header" class="container-small">
		<a href="/" id="logo"></a>
	</div>

	<div id="videowrapper" class="container-small">

		<div id="button-next"></div>
		<div id="flagvideo">
			<a href="#">This is not the real video</a>
		</div>

        <div id="video">

        </div>

	</div>

	<div id="meta" class="container-small clearfix">
		<div class="clipdata pull-left">
			<h1 id="cliptitle"></h1>
		</div>
		<div class="share pull-right">
			share
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/all4m.js"></script>
    <script src="/js/bootstrap/bootstrap-transition.js"></script>
    <script src="/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap/bootstrap-button.js"></script>
    <script>
        var selectedTrack = {{ id }};
    </script>
{% endblock %}