{% extends 'FdWAll4mBundle::layout.html.twig' %}
{% block title %}Quicklist All4M{% endblock %}
{% block body %}
<table>
{% for track in tracks %}
<tr>
    <td>{{ track.artist }}</td>
    <td>{{ track.title }}</td>
    <td>{{ track.youtubeid }}</track>
    <td>{{ track.itunestrackid }}</track>
</tr>
{% endfor %}
</table>
{% endblock %}